# ANA-522 Week 1 Programming homework

### Due: Sunday of Week1 at midnight 

**Instructions:**

- Submit your work as a `.ipynb` notebook file on blackboard. If you submit a PDF file, that's also acceptable.

- Please include your name in the filename of your submission

- Please make sure all code is executed and displays the corresponding output. If the corresponding output is not displayed, no points will be given.

<br>

### Q1: Variable Assignment and Data Types

Instructions:
- Assign the integer value 10 to a variable named x.
- Print the value and check the data type of x.

In [1]:
x =10

In [6]:
print(x)

print(type(x))

10
<class 'int'>

### Q2: Arithmetic Operations:

Instructions:
- Assign the values 17 and 6 to two variables, `a` and `b`, respectively.
- Perform addition, subtraction, multiplication, and division on `a` and `b`, and assign the results to new variables `add`, `sub`, `mul`, and `div`, respectively.
- Print the values of `add`, `sub`, `mul`, and `div`.

In [8]:
a = 17
b = 6
add = a + b
sub = a - b
mul = a * b
div = a / b # a//b

In [9]:
print(add)
print(sub)
print(mul)
print(div)

23
11
102
2.8333333333333335

### Q3: Type Conversion:

Instructions:
    
- Assign the float value 7.2 to a variable `num_float`.
- Convert `num_float` to an integer and assign it to a new variable `num_in`t.
- Print the values and types of `num_float` and `num_int`.

In [10]:
num_float = 7.2

num_int = int(num_float)

In [11]:
print(num_int)
print(num_float)

7
7.2

### Q4: Comparison Operators - Multiple Comparisons

Instructions:
- Assign the values 25, 16, and 32 to three variables, x, y, and z, respectively.
- Check if x is greater than y and y is less than z.
- Check if x is less than y or y is greater than or equal to z.
- Print the results of both comparisons.

In [12]:
x = 25
y = 16
z = 32

In [15]:
print(x > y and y > z)

False

In [16]:
print(x < y or y >= z)

False

### Q5: if Statement

Instructions:
- Assign the value 8 to a variable `num`.
- Write an if statement that checks if `num` is greater than 4.
- If `num` is greater than 4, print "The number is greater than 4.

In [17]:
num = 8

In [18]:
if num > 4:
    print("The number is greater than 4")

The number is greater than 4

### Q6: if-else Statement

Instructions:
- Assign the value 19 to a variable `age`.
- Write an `if-else` statement that checks if `age` is greater than or equal to 18.
- If `age` is greater than or equal to 18, print "You are an adult". Otherwise, print "You are a minor".

In [19]:
age = 19

In [20]:
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

### Q7: if-elif-else Statement

Instructions:
- Assign a value to a variable `grade`.
- Write an `if-elif-else` statement that will print the corresponding letter grade based on the value of grade.
    - If `grade` is 90 or above, print "A".
    - If `grade` is 80 to 89, print "B".
    - If `grade` is 70 to 79, print "C".
    - If `grade` is 60 to 69, print "D".
    - If `grade` is below 60, print "F".

In [21]:
grade = 99

In [22]:
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:   
    print("D")
else: 
    print("F")

A

### Q8: Basic `for` Loop

Instructions:
Write a `for` loop that iterates over a range of numbers from 1 to 20 (inclusive) and prints the square of each number.

In [28]:
for i in range(1,21):
    square = i * i
    print(square)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### Q9: Basic `while` Loop

Instructions:
- Initialize a variable counter to 1.
- Write a `while` loop that runs as long as counter is less than or equal to 5.
- In each iteration, print the value of counter, and then increment counter by 1.

In [29]:
counter = 1
while counter <= 5:
    print(counter)
    counter += 1

1
2
3
4
5

### Q10: `for` Loop with `range()` Function

Instructions:
- Write a `for` loop that iterates over a range of numbers from 1 to 20 (inclusive) and prints the sum of all **even** numbers in that range.

In [30]:
output = 0
for i in range(1, 21):
    if i % 2 ==0:
        output += i        

print(output)

110