In [1]:
spam = 1  # and this is the second comment
text = "# This is not a comment because it's inside quotes."

In [2]:
2 + 2

50 - 5*6

(50 - 5*6) / 4

8 / 5  # division always returns a floating point number

1.6

In [3]:
17 / 3  # classic division returns a float


17 // 3  # floor division discards the fractional part

17 % 3  # the % operator returns the remainder of the division

5 * 3 + 2  # result * divisor + remainder

17

In [4]:
5 ** 2  # 5 squared

2 ** 7  # 2 to the power of 7

128

In [5]:
width = 20
height = 5 * 9
width * height

900

In [6]:
n

NameError: name 'n' is not defined

In [7]:
4 * 3.75 - 1

14.0

In [8]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

14.0

In [10]:
'spam eggs'

'doesn\'t'

"doesn't"

'"Yes," they said.'

"\"Yes,\" they said."

'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [11]:
'"Isn\'t," they said.'

print('"Isn\'t," they said.')

s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

"Isn't," they said.
First line.
Second line.

In [12]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/t6/jzgwrdks2vq53w20jlljrk840000gn/T/ipykernel_55008/831820942.py:1: SyntaxWarning: invalid escape sequence '\s'
  print('C:\some\name')  # here \n means newline!

In [13]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [14]:
3 * 'un' + 'ium'

'unununium'

In [15]:
'Py' 'thon'

'Python'

In [16]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [18]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal
('un' * 3) 'ium'

SyntaxError: invalid syntax (2198521550.py, line 2)

In [19]:
prefix + 'thon'

NameError: name 'prefix' is not defined

In [20]:
word = 'Python'
word[0]  # character in position 0

word[5]  # character in position 5

'n'

In [21]:
word[-1]  # last character

word[-2]  # second-last character

word[-6]

'P'

In [22]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [23]:
word[:2] + word[2:]

word[:4] + word[4:]

'Python'

In [24]:
word[:2]   # character from the beginning to position 2 (excluded)

word[4:]   # characters from position 4 (included) to the end

word[-2:]  # characters from the second-last (included) to the end

'on'

In [25]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [26]:
word[4:42]

word[42:]

''